<main class="forms-container">
  <h1>TODO List</h1>
  <form #filterForm="ngForm" (input)="setSearchTerm(filterForm)">
    <p>A place to store your todos</p>
    <input
      type="text"
      id="todo"
      name="todo"
      placeholder="Filter your to-dos "
      ngModel
    />
  </form>
  <form>
    <ol class="todo-container">
      <div class="task-container">
        <li *ngFor="let todo of filterTodos(searchTodo); index as i">
          <div class="task">
            <div class="idgf">
              <button
                class="btn"
                *ngIf="!todo.completed"
                (click)="completed(todo)"
              >
                Complete
              </button>
              <p [ngClass]="{ strike: todo.completed }">{{ todo.task }}</p>
            </div>
            <button class="remove-button" (click)="removeTask(i)">X</button>
          </div>
        </li>
      </div>
    </ol>
  </form>
  <form #addForm="ngForm" (ngSubmit)="addTask(addForm, todos)">
    <input
      type="text"
      id="newtask"
      name="newtask"
      placeholder="Add your to-do"
      ngModel
    />
    <button class="add-button">Add</button>
  </form>
</main>
